@import "/src/theme/variables.scss";

.detailed-info {
  &__img-container {
    max-width: 100vh;
  }

  &__content {
    margin-top: 16px;
  }

  &__header {
    @include TextHeader1;
    margin-top: 16px;
  }

  &__description {
    margin-top: 20px;
  }

  &__field {
    margin-top: 16px;
    @include TextMain;
    display: flex;
    gap: 10px;
  }

  &__field-value {
    color: $font-color-secondary;
  }
}
