$font-size-header-h1: 18px;
$font-size-main: 14px;
$font-size-small: 12px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$font-color-primary: black;
$font-color-secondary: grey;

@mixin TextHeader1 {
  font-size: $font-size-header-h1;
  font-weight: $font-weight-medium;
  color: $font-color-primary;
}

@mixin TextHeader2 {
  font-size: $font-size-main;
  font-weight: $font-weight-medium;
  color: $font-color-primary;
}

@mixin TextSmall {
  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  color: $font-color-primary;
}

@mixin TextMain {
  font-size: $font-size-main;
  font-weight: $font-weight-regular;
  color: $font-color-primary;
}